// @import '~@mui/material/styles/mixins';
// @import '~@mui/material/styles/breakpoints';
// @import '~@mui/material/styles/typography';
// @import '~@mui/material/colors';

$primary-color: #004e89; // Example primary color
$secondary-color: #f5f5f5; // Example secondary color
$highlight-color: #00ff00; // Example highlight color (green)

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #e0e0e0;
  color: #000;
}

.container {
  margin: 20px;
  padding: 20px;
  background-color: $secondary-color;
  border: 2px solid $primary-color;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  border-bottom: 2px solid darken($primary-color, 10%);
}

.sidebar {
  width: 200px;
  background-color: darken($primary-color, 10%);
  color: $secondary-color;
  padding: 10px;
}

.main-content {
  margin-left: 220px;
  padding: 20px;
}

.button {
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  &:hover {
    background-color: lighten($primary-color, 10%);
  }
}

.input-field {
  background-color: $secondary-color;
  border: 1px solid $primary-color;
  padding: 5px;
  font-size: 1em;
  margin-bottom: 10px;
}

.icon-button {
  color: $primary-color;
  margin: 5px;
}

.notification-bell {
  color: $highlight-color;
  margin-right: 10px;
  position: relative;
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.worker-status {
  display: flex;
  align-items: center;
  .status-light {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    &.idle {
      background-color: yellow;
    }
    &.running {
      background-color: green;
    }
    &.error {
      background-color: red;
    }
  }
  .status-text {
    font-size: 1em;
  }
}

.task-history {
  background-color: lighten($secondary-color, 10%);
  border: 1px solid $primary-color;
  padding: 10px;
  margin-top: 20px;
  .task-item {
    border-bottom: 1px solid $primary-color;
    padding: 5px 0;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: lighten($primary-color, 20%);
      cursor: pointer;
    }
  }
}

.footer {
  background-color: darken($primary-color, 10%);
  color: $secondary-color;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid $primary-color;
}
